<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050301071997-m9rf5m6tlaaenl1mi61cvd7kcea46knm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050301071997-m9rf5m6tlaaenl1mi61cvd7kcea46knm</string>
	<key>API_KEY</key>
	<string>AIzaSyCA9kadgmD1T1l-zlb1uqtC9fy9F8sY72A</string>
	<key>GCM_SENDER_ID</key>
	<string>1050301071997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-a79fd</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-a79fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050301071997:ios:28b7e35b5d69d19762a714</string>
</dict>
</plist>